<header class="header">
  <div class="header__container container">
    <div class="header__wraper">
      <a class="logo" href="./index.html">
        Web<span class="logo--header">Studio</span>
      </a>

      <!-- Mobile-menu-btn -->
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="40" height="40">
          <use href="./images/icons.svg#menu-icon"></use>
        </svg>
      </button>
    </div>

    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a class="nav__link" href="./index.html">Студія</a>
        </li>
        <li>
          <a class="nav__link nav__link--current" href="./portfolio.html">
            Портфоліо
          </a>
        </li>
        <li><a class="nav__link" href="">Контакти</a></li>
      </ul>
    </nav>
    <ul class="contacts">
      <li>
        <a class="contacts__link" href="mailto:info@devstudio.com">
          <svg class="contacts__icon" width="16" height="12">
            <use href="./images/icons.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li>
        <a class="contacts__link" href="tel:+380961111111">
          <svg class="contacts__icon" width="10" height="16">
            <use href="./images/icons.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11
        </a>
      </li>
    </ul>
  </div>
</header>
