<section class="portfolio section">
  <div class="container">
    <h1 class="visually-hidden">наші роботи</h1>
    <ul class="filter-list">
      <li>
        <button type="button" class="button portfolio__button">Усі</button>
      </li>
      <li>
        <button type="button" class="button portfolio__button">
          Веб-сайти
        </button>
      </li>
      <li>
        <button type="button" class="button portfolio__button">Додатки</button>
      </li>
      <li>
        <button type="button" class="button portfolio__button">Дизайн</button>
      </li>
      <li>
        <button type="button" class="button portfolio__button">
          Маркетинг
        </button>
      </li>
    </ul>
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-1.jpg"
              alt="ноутбук"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element portfolio__element--first">
            <h2 class="portfolio__title">Технокряк</h2>
            <p class="portfolio__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-2.jpg"
              alt="два баскетболіста"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Постер New Orlean vs Golden Star</h2>
            <p class="portfolio__text">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-3.jpg"
              alt="логотип ресторана"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Ресторан Seafood</h2>
            <p class="portfolio__text">Додаток</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-4.jpg"
              alt="наушники"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Проєкт Prime</h2>
            <p class="portfolio__text">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-5.jpg"
              alt="дві коробки"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Проєкт Boxes</h2>
            <p class="portfolio__text">Додаток</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-6.jpg"
              alt="монітор"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Inspiration has no Borders</h2>
            <p class="portfolio__text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-7.jpg"
              alt="книга"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Видання Limited Edition</h2>
            <p class="portfolio__text">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-8.jpg"
              alt="вивіска"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Проєкт LAB</h2>
            <p class="portfolio__text">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="portfolio__item">
        <a class="portfolio__link" href="">
          <div class="portfolio__thumb">
            <img
              class="portfolio__img"
              src="./images/poster-9.jpg"
              alt="відкритий ноутбук"
            />
            <p class="portfolio__overlay">
              Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу
              та сервісів. Все це дозволить відвідувачу отримати вичерпні
              відомості про компанію чи приватну особу.
            </p>
          </div>

          <div class="portfolio__element">
            <h2 class="portfolio__title">Growing Business</h2>
            <p class="portfolio__text">Додаток</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
