<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wraper">
      <div class="footer__element">
        <a class="logo" href="./index.html">
          Web<span class="logo--footer">Studio</span>
        </a>
      </div>
      <address class="address">
        <p class="address__text">
          <a
            class="address__location"
            href="https://goo.gl/maps/4G5FCT8rvpWbzXyu6"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            м. Київ, пр-т Лесі Українки, 26
          </a>
        </p>
        <ul>
          <li class="address__item">
            <a class="address__contacts" href="mailto:info@devstudio.com">
              info@devstudio.com
            </a>
          </li>
          <li class="address__item">
            <a class="address__contacts" href="tel:+380961111111">
              +38 096 111 11 11
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer--tumb">
      <p class="footer__text">приєднуйтесь</p>
      <ul class="socials">
        <li class="socials__item">
          <a
            class="footer__link"
            href="https://instagram.com"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="footer__link"
            href="https://twitter.com"
            aria-label="Twitter"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="footer__link"
            href="https://facebook.com"
            aria-label="Facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="footer__link"
            href="https://linkedin.com"
            aria-label="Linkedin"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-form--wraper">
      <strong class="footer__text">Підпишіться на розсилку</strong>
      <form class="footer-form">
        <input
          class="footer-form__input"
          type="email"
          name="email"
          placeholder="E-mail"
        />
        <button class="footer-form__btn" type="submit">
          Підписатися
          <svg class="footer-form__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-send"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
