<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg width="40" height="40">
      <use href="./images/icons.svg#menu-icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./index.html">Студія</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./portfolio.html"> Портфоліо </a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Контакти</a>
    </li>
  </ul>

  <ul class="mobile-contacts">
    <li class="mobile-contacts__item">
      <a href="tel:+380961111111" class="mobile-contacts__link">
        +38 096 111 11 11
      </a>
    </li>
    <li class="mobile-contacts__item">
      <a href="mailto:info@devstudio.com" class="mobile-contacts__link">
        info@devstudio.com
      </a>
    </li>
  </ul>

  <ul class="mobile-socials">
    <li class="mobile-socials__item">
      <a
        class="mobile-socials__link"
        href="https://instagram.com"
        aria-label="Instagram"
        target="_blank"
        rel="noopener noreferrer"
      >
        Instagram
      </a>
    </li>
    <li class="mobile-socials__item">
      <a
        class="mobile-socials__link"
        href="https://twitter.com"
        aria-label="Twitter"
        target="_blank"
        rel="noopener noreferrer"
      >
        Twitter
      </a>
    </li>
    <li class="mobile-socials__item">
      <a
        class="mobile-socials__link"
        href="https://facebook.com"
        aria-label="Facebook"
        target="_blank"
        rel="noopener noreferrer"
      >
        Facebook
      </a>
    </li>
    <li class="mobile-socials__item">
      <a
        href="https://linkedin.com"
        aria-label="Linkedin"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </li>
  </ul>
</div>
