<section class="team section">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <ul class="team__list">
      <li class="team--color">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/img-igor_lg@1x.jpg 1x,
              ./images/team/img-igor_lg@2x.jpg 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-igor_md@1x.jpg 1x,
              ./images/team/img-igor_md@2x.jpg 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-igor_sm@1x.jpg 1x,
              ./images/team/img-igor_sm@2x.jpg 2x
            "
          />

          <img
            class="team__img"
            src="./images/team/img-igor_sm@1x.jpg"
            alt="Ігор"
            width="450"
            height="460"
            loading="lazy"
          />
        </picture>
        <div class="team__item">
          <h3 class="team__personal">Ігор Дем'яненко</h3>
          <p class="team__text">Product Designer</p>
          <ul class="socials">
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://instagram.com"
                aria-label="Instagram"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://linkedin.com"
                aria-label="Linkedin"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team--color">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/img-olga_lg@1x.jpg 1x,
              ./images/team/img-olga_lg@2x.jpg 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-olga_md@1x.jpg 1x,
              ./images/team/img-olga_md@2x.jpg 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-olga_sm@1x.jpg 1x,
              ./images/team/img-olga_sm@2x.jpg 2x
            "
          />

          <img
            class="team__img"
            src="./images/team/img-olga_sm@1x.jpg"
            alt="Ольга"
            width="450"
            height="460"
            loading="lazy"
          />
        </picture>
        <div class="team__item">
          <h3 class="team__personal">Ольга Рєпіна</h3>
          <p class="team__text">Frontend Developer</p>
          <ul class="socials">
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://instagram.com"
                aria-label="Instagram"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://linkedin.com"
                aria-label="Linkedin"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team--color">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/img-mykola_lg@1x.jpg 1x,
              ./images/team/img-mykola_lg@2x.jpg 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-mykola_md@1x.jpg 1x,
              ./images/team/img-mykola_md@2x.jpg 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-mykola_sm@1x.jpg 1x,
              ./images/team/img-mykola_sm@2x.jpg 2x
            "
          />

          <img
            class="team__img"
            src="./images/team/img-mykola_sm@1x.jpg"
            alt="Микола"
            width="450"
            height="460"
            loading="lazy"
          />
        </picture>
        <div class="team__item">
          <h3 class="team__personal">Микола Тарасов</h3>
          <p class="team__text">Marketing</p>
          <ul class="socials">
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://instagram.com"
                aria-label="Instagram"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://linkedin.com"
                aria-label="Linkedin"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team--color">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/img-mykhailo_lg@1x.jpg 1x,
              ./images/team/img-mykhailo_lg@2x.jpg 2x
            "
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-mykhailo_md@1x.jpg 1x,
              ./images/team/img-mykhailo_md@2x.jpg 2x
            "
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-mykhailo_sm@1x.jpg 1x,
              ./images/team/img-mykhailo_sm@2x.jpg 2x
            "
          />

          <img
            class="team__img"
            src="./images/team/img-mykhailo_sm@1x.jpg"
            alt="Михайло"
            width="450"
            height="460"
            loading="lazy"
          />
        </picture>

        <div class="team__item">
          <h3 class="team__personal">Михайло Єрмаков</h3>
          <p class="team__text">UI Designer</p>
          <ul class="socials">
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://instagram.com"
                aria-label="Instagram"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://twitter.com"
                aria-label="Twitter"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://facebook.com"
                aria-label="Facebook"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://linkedin.com"
                aria-label="Linkedin"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
