<section class="work section">
  <div class="container">
    <h2 class="visually-hidden">Переваги нашої студії</h2>
    <ul class="work__list">
      <li class="work__item">
        <div class="work__icon">
          <svg class="" width="70" height="70">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="work__title">УВАГА ДО ДЕТАЛЕЙ</h3>
        <p class="work__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <li class="work__item">
        <div class="work__icon">
          <svg class="" width="70" height="70">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="work__title">ПУНКТУАЛЬНІСТЬ</h3>
        <p class="work__text">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у
          себе.
        </p>
      </li>
      <li class="work__item">
        <div class="work__icon">
          <svg class="" width="70" height="70">
            <use href="./images/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="work__title">ПЛАНУВАННЯ</h3>
        <p class="work__text">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>
      <li class="work__item">
        <div class="work__icon">
          <svg class="" width="70" height="70">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="work__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
        <p class="work__text">
          Значимість цих проблем настільки очевидна, що реалізація планових
          завдань.
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="section work--secondary">
  <div class="container">
    <h2 class="work__uppertitle">Чим ми займаємося</h2>
    <ul class="work__list">
      <li class="overlay__item">
        <div class="overlay">
          <p class="overlay__text">Десктопні додатки</p>
        </div>
        <img
          srcset="
            ./images/work/img-work-1_lg@1x.jpg 1x,
            ./images/work/img-work-1_lg@2x.jpg 2x
          "
          src="./images/img-work-1.jpg"
          alt="Приклад роботи 1"
          width="370"
          height="294"
        />
      </li>
      <li class="overlay__item">
        <div class="overlay">
          <p class="overlay__text">Мобільні додатки</p>
        </div>
        <img
          srcset="
            ./images/work/img-work-2_lg@1x.jpg 1x,
            ./images/work/img-work-2_lg@2x.jpg 2x
          "
          src="./images/img-work-2.jpg"
          alt="Приклад роботи 2"
          width="370"
          height="294"
        />
      </li>
      <li class="overlay__item">
        <div class="overlay">
          <p class="overlay__text">Дизайнерські рішення</p>
        </div>
        <img
          srcset="
            ./images/work/img-work-3_lg@1x.jpg 1x,
            ./images/work/img-work-3_lg@2x.jpg 2x
          "
          src="./images/img-work-3.jpg"
          alt="Приклад роботи 3"
          width="370"
          height="294"
        />
      </li>
    </ul>
  </div>
</section>
